@inherits UmbracoViewPage

@{ 
    var articles = Model.Root().Descendants<Article>().Where(x=>x.IsVisible()).OrderByDescending(y=>y.ArticleDate);
}

@if (articles != null && articles.Any())
{
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @foreach (var article in articles)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="@article.Url">
                            <h2 class="post-title">@(!string.IsNullOrWhiteSpace(article.Title) ? article.Title : article.Name)</h2>
                            @if (!string.IsNullOrWhiteSpace(article.Subtitle))
                            {
                                <h3 class="post-subtitle">@article.Subtitle</h3>
                            }
                        </a>
                        <p class="post-meta">
                            Posted
                            @if (!string.IsNullOrWhiteSpace(article.AuthorName))
                            {
                                @Html.Raw("by ") @article.AuthorName
                            }
                            on @article.ArticleDate.ToString("MMMM dd, yyyy")
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                }
                
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
}
